<html>
    <head>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython_stdlib.js"></script>
    <link href="/gengo/static/css/default.css" rel="stylesheet" type="text/css"></link>

    <title>Gengo</title>
    <title>Home page</title>
    </head>
    <body onload="brython(1)">
        <script src="/gengo/static/js/board.py"
                type="text/python"></script>

        <div id="rules"
             game_name={{game_name}}
             board_size={{board_size}}
             allow_suicide={{allow_suicide}}
             play_in_own_overlap={{play_in_own_overlap}}
             play_black={{play_black}}
             handicap={{handicap}}
             overlap={{overlap}}
             action={{action}}></div>
        <div style="float:left;">
            <svg width="{{board_size*30 + 30}}" height="{{board_size*30 + 30}}" id="svg">
                <rect x="{{0}}" y="{{0}}"
                    height="{{board_size*30 + 30}}"
                    width="{{board_size*30 + 30}}" class="empty"/>

                <g transform="translate(15,15)">
                    {% for x in range(board_size) %}
                        {% for y in range(board_size) %}
                            <rect id="{{'{},{}'.format(x,y)}}"
                                x="{{x*30}}" y="{{y*30}}"
                                height="30" width="30" class="empty"/>
                        {% endfor %}
                    {% endfor %}
                    {% for x in range(board_size) %}
                        <line x1="15" x2="{{30*board_size-15}}" y1="{{15+x*30}}" y2="{{15+x*30}}" stroke="red"></line>
                        <line y1="15" y2="{{30*board_size-15}}" x1="{{15+x*30}}" x2="{{15+x*30}}" stroke="red"></line>
                    {% endfor %}
                    <g id="stones"></g>
                </g>
            </svg>
        </div>
        <div width="50" style="float:left; margin:20; font-family: sans-serif">
            <div id="status" style="font-weight: bold;">Waiting for opponent to join</div>
            <p></p>
            <table style="">
                <tr><td></td><td>Area score</td><td>Stone score</td></tr>
                <tr><td>Black</td><td id="black-area-score">-</td><td id="black-stone-score">-</td></tr>
                <tr><td>White</td><td id="white-area-score">-</td><td id="white-stone-score">-</td></tr>
            </table>
            <button type="button" id="undo">Undo</button>
            <button type="button" id="pass">Pass</button>
        </div>
    </body>
</html>

