<html>
    <head>
    <script src="{{url_for('static', filename='brython/brython.js') }}"></script>
    <script src="{{url_for('static', filename='brython/brython_stdlib.js') }}"></script>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Home page</title>
    {% endif %}
    </head>
    <body onload="brython(1)">
        <script src="{{url_for('static', filename='js/board.py')}}" type="text/python"></script>

        <svg width="500" height="500">
            {% for x in 1,2,3,4,5,6 %}
                {% for y in 1,2,3,4,5 %}
                    <rect id="{{'{},{}'.format(x,y)}}" x="{{x*50}}" y="{{y*50}}" height="50" width="50" fill="lightgray", stroke="red"/>
                {% endfor %}
            {% endfor %}
        </svg>
    </body>
</html>

