<html>
    <head>
        <script src="{{url_for('static', filename='brython/brython.js') }}"></script>
        <script src="{{url_for('static', filename='brython/brython_stdlib.js') }}"></script>
        <link href="{{url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css"></link>
    </head>
    <body onload="brython(1)">
    <script src="{{url_for('static', filename='js/list_games.py')}}"
        type="text/python"></script>

    <h1>Join a game</h1>
        <ul id="games"></ul>

        <form action="/game" method="get">
            Game name:<input type="text" game_name="game_name"/><br/>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>