<html>
    <head>
        <script src="{{url_for('gengo_static', filename='brython/brython.js') }}"></script>
        <script src="{{url_for('gengo_static', filename='brython/brython_stdlib.js') }}"></script>
        <link href="{{url_for('gengo_static', filename='css/default.css') }}" rel="stylesheet" type="text/css"></link>
    </head>
    <body onload="brython(1)">
    <script src="{{url_for('gengo_static', filename='js/list_games.py')}}"
        type="text/python"></script>

    <h1>Join a game</h1>
        <h3>Games to join</h3>
        <ul id="games">loading...</ul>
        To create a new game, go <a href="/gengo/new">here.</a>
    </body>
</html>