<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython_stdlib.js"></script>
        <link href="/gengo/static/css/default.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body onload="brython(1)">
    <script src="/gengo/static/js/list_games.py"
        type="text/python"></script>

    <h1>Join a game</h1>
        <h3>Games to join</h3>
        <ul id="games">loading...</ul>
        To create a new game, go <a href="/gengo/new">here.</a>
    </body>
</html>