<html>
    <head></head>
    <body>
        <h1>Start a new game</h1>

        <form action="/game" method="get">
            Game name: <input type="text" name="game_name"/><br/>
            Board Size: <input type="text" value="19" maxlength="3" name="board_size"/><br/>
            Allow suicide: <input type="checkbox" checked name="allow_suicide"/><br/>
            Play black: <input type="checkbox" checked name="play_black"/><br/>
            Handicap: <input type="text" maxlength="2" name="handicap"/><br/>
            Overlap:
            <select name="overlap">
                <option value='standard'>Standard Gengo (10,11;20,21)</option>
                <option value='go'>Standard Go (;10)</option>
                <option value='expanded'>Expanded Gengo (10,11;20,21,22,30,31)</option>
            </select>
            <input type="hidden" name="action" value="new"/><br/>
            <input type="submit" value="Start a game"/>

        </form>
    </body>
</html>